.home-page .text-area {
  position: absolute;
  left: 15%;
  top: 40%;
  transform: translateY(-50%);
  width: 40%;
  max-height: 90%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .home-page .text-area {
    left: 30%;
  }
}

.home-page h1,
.home-page h3 {
  padding: 0;
  margin: 0;
}

.home-page h1 {
  color: #fff;
  font-size: 4rem;
  line-height: 60px;
  word-spacing: -1px;
  font-weight: bold;
  font-family: "Teko", sans-serif;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .home-page h1 {
    font-size: 1.8rem;
    line-height: 30px;
  }
}

.home-page h3 {
  margin-top: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1rem;
  font-family: "Figtree", sans-serif;
}
