.home-page {
    .text-area {
        position: absolute;
        // left: %;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        z-index: 1;
        a {
            text-decoration: none;
            color: #fff;
        }

        @media screen and (max-width: 768px) {
            left: 30%;
        }
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    h1 {
        color: #fff;
        font-size: 4rem;
        line-height: 60px;
        word-spacing: -1px;

        @media (max-width: 768px) {
            font-size: 1.8rem;
            line-height: 30px;
        }
        font-weight: bold;
        font-family: "Teko", sans-serif;

        // margin-bottom: 1rem;
    }

    h3 {
        margin-top: 20px;
        font-weight: 400;
        letter-spacing: 3px;
        font-size: 1.2rem;
        font-family: "Figtree", sans-serif;
        margin-left: 20px;
    }

    .btn {
        color: #fff;
        background-color: transparent;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 4px;
        padding: 10px 20px;
        border-radius: 5px;
        border: 0.3px solid #fff;
        display: block;
        text-transform: uppercase;

        font-size: "Figtree", sans-serif;
        float: left;

        &:hover {
            background-color: rgba(208, 206, 218, 0.959);
            color: #000;
            font-weight: bold;
        }
    }

    .btn.resume {
        margin-left: 20px;
    }
}
