.text-zone {
    width: 60%;
}

.form-zone {
    width: 100%;
    overflow: hidden;

    font-family: "FigTree", sans-serif;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            padding-bottom: 10px;
            display: block;
            overflow: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            animation: fadeInUp 2s 2s forwards;
            clear: both;
            position: relative;
        }

        li.half {
            width: 100%;
            // margin-left: 2%;
            // float: left;
            // clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        border: none;
        height: 50px;
        border-radius: 0;
        font-size: 16px;
        background: transparent;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        color: #fff;
        border-bottom: 1px solid #fff;
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        background: #ccc;
        color: #000;
    }

    textarea {
        width: 100%;

        border: none;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        height: 50px;
        font-size: 16px;
        padding: 10px;
        box-sizing: border-box;
        min-height: 140px;
        color: rgb(255, 255, 255);
        font-family: "FigTree", sans-serif;
        transition: all 0.3s ease-in-out;
    }

    .btn {
        color: #fff;
        font-size: 14px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid #ccc;
        float: left;
        border-radius: 3px;
        background: 0 0;
        text-transform: uppercase;
        text-align: center;
        margin-right: 10px;
        font-weight: bold;

        &:hover {
            background: #ccc;
            color: #000;
        }
    }
}

.test-zone {
    width: 50%;
    height: 50%;
    border: 1px solid #fff;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .form-zone {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 20px;
        font-family: "Figtree", sans-serif;
        // border: 1px solid #fff;
        li.half {
            width: 100%;
            margin-left: 0;
            float: none;
            clear: both;
        }

        .btn {
            float: right;
            margin-top: 20px;
            margin-right: 0;
            text-align: center;
        }
    }
    .test-zone {
        width: 100%;
    }
}
