$ligth-color: #d9d9d9;
$ligth-gray-color: #a6a6a6;
$gray-color: #595959;
$dark-color: #262626;
$darker-color: #0d0d0d;
$white-color: #fff;
$blood-color: #f44336;

.nav-bar {
    z-index: 3;
    position: absolute;
    top: 0;
    height: 100%;
    width: 70px;
    opacity: 0.72;
    // min-height: 590px;
    font-family: "Figtree", sans-serif;
    border-radius: 2px;

    background-color: $ligth-color;
    color: $darker-color;

    .logo {
        display: block;
        padding: 8px 0;
        text-decoration: none;

        img {
            display: block;
            margin: 0 auto;
            height: auto;
            width: 60px;

            &:nth-child(1) {
                animation: glow 3s ease-in-out alternate infinite;
            }
        }

        // h2 {
        //     writing-mode: vertical-rl;
        //     color: #fff;
        //     font-size: 2rem;
        //     display: block;
        //     margin-top: 10px;
        //     padding: 15px 0;
        //     font-family: "Wolfstar", sans-serif;
        // }
        // svg {
        //     display: block;
        //     margin: 8px auto;
        //     height: auto;
        //     margin-top: 50px;
        //     width: 80px;
        //     animation: fill 1s ease-in-out;
        //     transform: rotate(90deg);
        //     fill: rgb(15, 14, 14);

        //     path {
        //         stroke-dasharray: 200;
        //         stroke-dashoffset: 200;
        //         animation: line-anim 1.5s ease forwards, fill 2s ease-in-out;
        //         fill: $dark-color;
        //     }
        // }
    }

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;
        // animation: fadeInDown 1s ease-in-out;

        a {
            font-size: 2rem;
            color: $darker-color;
            display: block;
            line-height: 60px;
            height: 51px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.5s ease-out;
            }

            &:hover {
                color: $white-color;
                background-color: $dark-color;

                &::after {
                    opacity: 1;
                }
            }

            &::after {
                content: "";
                font-size: 9px;
                letter-spacing: 2px;
                line-height: 50px;
                position: absolute;
                font-weight: bold;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
                font-family: "Figtree", sans-serif;
            }

            &:first-child {
                &:after {
                    content: "HOME";
                }
            }
        }

        a.about-link {
            &:after {
                content: "ABOUT";
            }
        }
        a.portifolio-link {
            &:after {
                content: "PORTIFOLIO";
            }
        }
        a.contact-link {
            &:after {
                content: "CONTACT";
            }
        }
        a.active {
            background-color: #0d0d0d;
            color: $white-color;

            &::after {
                opacity: 1;
            }
        }
    }

    ul {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
        // animation: fadeInUp 1s ease-in-out;

        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 1.5rem;
                line-height: 16px;
                color: $dark-color;
                font-weight: bold;

                &:hover {
                    color: $blood-color;
                }
            }
            &:hover {
                a {
                    color: $white-color;
                    background-color: #0d0d0d;
                }
            }
        }
    }
}

@keyframes fill {
    0% {
        fill: transparent;
    }
    100% {
        fill: $dark-color;
    }
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 0px #fff);
    }
    50% {
        filter: drop-shadow(0 0 40px #fff);
    }
    100% {
        filter: drop-shadow(0 0 0px #fff);
    }
}

@media screen and (max-width: 768px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        position: relative;
    }

    ul {
        position: none;
        text-align: justify;
    }
    nav {
        position: none;
    }
}
