@font-face {
  font-family: "Wild Wolf";
  src: url("../src/assets/fonts/Wild Wolf.ttf");
}

@font-face {
  font-family: "WolfStar";
  src: url("../src/assets/fonts/WolfStar.ttf");
}

@font-face {
  font-family: "gang_wolfik";
  src: url("../src/assets/fonts/gang_wolfik.ttf");
}
